<div class="container p-4">
    <section class="u-align-center u-clearfix u-section-1" id="sec-d07b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h5 class="u-custom-font u-text u-text-default u-text-palette-1-base u-text-1">Registro del Vehículo</h5>
        <div class="u-clearfix u-gutter-6 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                <div class="u-container-layout u-container-layout-1">
                  <img class="u-image u-image-default u-image-1" src="/images/Imagen1.png" alt="" data-image-width="526" data-image-height="341">
                  <div class="u-form u-form-1">
                    <form action="/links/edit/{{link.id}}" method="POST" >
    
                      <div class="u-form-group">
                        <label for="email-8959" class="u-label">Distancia</label>
                        <input type="text" id="email-8959" value="{{link.distancia}}" name="distancia" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                      </div>
                      <div class="u-form-group u-form-group-3">
                        <label for="text-1b9a" class="u-label">Altitud</label>
                        <input type="text" id="text-1b9a" name="altitud"  value="{{link.altitud}}" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                      <div class="u-form-group u-form-group-4">
                        <label for="text-0582" class="u-label">Longitud</label>
                        <input type="text" placeholder="" id="text-0582"   value="{{link.longitud}}" name="longitud" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                      <div class="u-form-date u-form-group u-form-group-5">
                        <label for="text-9b13" class="u-label">Fecha</label>
                        <input type="date" placeholder="Fecha" id="text-9b13"  value="{{link.fecha}}" name="fecha" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                      <div class="u-form-group u-form-group-6">
                        <label for="text-f835" class="u-label">Hora</label>
                        <input type="text" id="text-f835" name="hora"  value="{{link.hora}}" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                      <div class="u-form-group u-form-group-7">
                        <label for="text-64cc" class="u-label">Nivel de almacenamiento</label>
                        <input type="text" placeholder="" id="text-64cc" value="{{link.nivel_almacenamiento}}" name="nivel_almacenamiento" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                      <div class="u-form-group u-form-group-8">
                        <label for="text-3ce7" class="u-label">Material de desecho</label>
                        <input type="text" placeholder="" id="text-3ce7"  value="{{link.material_desecho}}"name="material_desecho" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                      <div class="u-form-group u-form-group-9">
                        <label for="text-8986" class="u-label">Estado</label>
                        <input type="text" placeholder="" id="text-8986"  value="{{link.estado}}"name="estado" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                      </div>
                      <div class="u-align-left u-form-group u-form-submit">
                        <button class="btn-success btn-block">
                                Save
                            </button>
                      </div>
                      
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
