<div class="container p-5">
    <div class="row">
        
        <div class="card text-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DISTANCIA</th>
                        <th>ALTITUD</th>
                        <th>LONGITUD</th>
                        <th>FECHA</th>
                        <th>HORA</th>
                        <th>NIVEL DE almacenamiento</th>
                        <th>MATERIAL DE DESECHO</th>
                        <th>ESTADO</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each links}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{distancia}}</td>
                        <td>{{altitud}}</td>
                        <td>{{longitud}}</td>
                        <td>{{fecha}}</td>
                        <td>{{hora}}</td>
                        <td>{{nivel_almacenamiento}}</td>
                        <td>{{material_desecho}}</td>
                        <td>{{estado}}</td>

                        <td>
                            <a href="/links/edit/{{id}}" class="btn btn-warning">Editar</a>
                            
                        </td>
                        <td>
                            
                            <a href="/links/delete/{{id}}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text center">
                            <p>No existen registros</p>
                            <a href="/links/add">Crea un nuevo registro aqui</a>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>

        {{/each}}

    </div>
</div>