<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Nicepage 3.19.4, nicepage.com">
    <title>Document</title>
    {{!--google fonts--}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? family=Langosta&display=swap" rel="hoja de estilo">
    {{!--BOOSTRAPT 4--}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    {{!--FONT awesome--}}
    <script src="https://kit.fontawesome.com/22dbbe6259.js" crossorigin="anonymous"></script>
    {{!--STYLESS--}}
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/RegistV.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Alfa+Slab+One:400|Aldrich:400">
    {{!--SCRIPTS--}}
    <script class="u-script" type="text/javascript" src="/Script/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/Script/nicepage.js" defer=""></script>
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "/images/Imagen2.svg"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="RegistV">
    <meta property="og:type" content="website">

</head>
<body class="u-body"><header class="u-clearfix u-grey-50 u-header u-header" id="sec-ad44"><div class="u-clearfix u-sheet u-sheet-1">
    {{>navigation}}
    </div></header>
       {{!--puse esto--}}
   {{> message }}
   
    {{{ body }}}

    {{!--SCRIPTS--}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>