<div class ="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3> LOGIN</h3>
                </div>
                <div class="card-body">
                    <img src="/images/user.png" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/signin" method="POST">
                    
                        <div class="form-group">
                            <input type="text" name="username" placeholder="username" class="form-control">

                        </div>
                        &nbsp;
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>&nbsp;
                        <div class="form-group">
                            <button class= "btn btn-success btn-block">
                                Iniciar Sesion
                            </button>
                        </div>
                        <div class="form-group m-4" >
                           <a href="/signup">No tienes cuenta? Crea una</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>